
<!DOCTYPE html>
<html>
  <head>
    <title>Register page</title>
  </head>
  <body>
  <form action ="/"method="GET">
    <input type="submit" value="home">
  </form>
    <form action ="/reg_project"method="POST">
      <pre>
project name        :<input type="text" name ="name" id = "name">
summary             :<input type="text" name ="summary" id = "summary">
detailed explaintion:<input type="text" name ="detailed" id = "detailed">
link                :<input type="text" name ="links" id = "links">
link to photos      :<input type="text" name ="photo" id = "photo">
      </pre>
      <input type="submit"value="insert">
      <input type="reset"value="clear">
    </form>

  </body>
</html>
