<!DOCTYPE html>
<html>
  <head>
    <title>home page</title>
  </head>
  <body>

  <form action ="/login"method="GET">
    <input type="submit" value="login">
  </form>
  <form action ="/reg_student"method="GET">
    <input type="submit" value="register in our site">
  </form>
  <form action ="/add_project"method="GET">
    <input type="submit" value="add new projects">
  </form>
  <form action ="/student_profile"method="GET">
    <input type="submit" value="show my profile">
  </form>
  <form action ="/view_projects"method="GET">
    <input type="submit" value="view all the projects">
  </form>
  </body>
</html>
