
<!DOCTYPE html>
<html>
  <head>
    <title>Register page</title>
  </head>
  <body>
  <form action ="/"method="GET">
    <input type="submit" value="home">
  </form>
    <form action ="/reg_student"method="POST">
      <pre>
student name    :<input type="text" name ="name" id = "name">
student id      :<input type="text" name ="id" id = "id">
student email   :<input type="text" name ="email" id = "email">
student username:<input type="text" name ="username" id = "username">
student password:<input type="text" name ="password" id = "password">
      </pre>
      <input type="submit"value="insert">
      <input type="reset"value="clear">
    </form>

  </body>
</html>
