<!DOCTYPE html>
<html>
  <head>
    <title>profile page</title>
  </head>
  <body>
  <form action ="/"method="GET">
    <input type="submit" value="home">
  </form>

    <div>
      <%= links =>
    </div>
  </body>
</html>
